*,
*:before,
*:after {
  box-sizing: border-box; }

@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  html {
    min-width: 1000px; } }
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  html {
    min-width: 1000px; } }

body {
  font-family: "PF Din Text Comp Pro Light", Roboto Condenced, sans-serif;
  font-size: 100.01%;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #25292e;
  min-width: 1000px;
  position: relative; }

.logo_container p {
  font: 400 16px/20px "PF Din Text Comp Pro", Roboto Condenced, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0px;
  text-indent: 4px; }
  
audio,
canvas,
img,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.centered {
  display: table-cell;
  vertical-align: middle; }

.float_left {
  float: left; }

.float_right {
  float: right; }

.clear {
  clear: both; }

.left {
  text-align: left !important; }

.center {
  text-align: center !important; }

.right {
  text-align: right !important; }

.full {
  text-align: justify !important; }
  
.light {
  font-weight: light; }
  
.regular {
  font-weight: regular; }
  
.medium {
  font-weight: medium; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.underline {
  text-decoration: underline; }

.strike, del {
  text-decoration: line-through; }

.xx-small {
  font-size: 8px; }

.x-small {
  font-size: 12px; }

.small, small {
  font-size: 14px; }

.large {
  font-size: 18px; }

.x-large {
  font-size: 20px; }

.xx-large {
  font-size: 22px; }

.full_width {
  width: 100%; }

a {
  color: #00a294;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  text-decoration: none; }
  a[href^='mailto:'], a[href^='tel:'] {
    text-decoration: none;
    color: currentColor;
    cursor: default; }
  a:hover {
    color: #25292e;
    text-decoration: none; }

:focus, a:focus {
  outline: none; }

textarea {
  resize: none; }

h1, .modal_title, .thx_text, .partner_info_name,
.section_title {
  font: 500 57px/60px "PF Din Text Comp Pro", Roboto Condenced, sans-serif;
  text-transform: uppercase;
  margin: 0 0 22px;
  letter-spacing: 0px;
  text-indent: 0px; }

h2,
.likeh2 {
  font: 400 34px/50px "PF Din Text Comp Pro", Roboto Condenced, sans-serif;
  margin: 0 0 40px;
  letter-spacing: -1px;
  text-indent: 0px; }

h3,
.likeh3 {
  font: 500 20px/40px "PF Din Text Comp Pro", Roboto Condenced, sans-serif;
  margin: 0 0 10px; }

h4,
.likeh4 {
  font: 14px/20px "PF Din Text Comp Pro", Roboto Condenced, sans-serif;
  margin: 0 0 10px; }

h5 {
  margin: 0 0 10px;
  font: 14px/20px "PF Din Text Comp Pro", Roboto Condenced, sans-serif; }

h6 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 8px; }

p {
  font-size: 18px;
  line-height: 21px;
  margin: 0 0 20px; }
  p:last-child {
    margin-bottom: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ol {
  list-style-position: outside;
  padding: 0 0 0 20px;
  margin: 0 0 20px; }

li {
  font-size: 16px;
  line-height: 18px; }

.nomarker {
  margin: 0;
  padding: 0; }

.nomargin {
  margin-bottom: 0; }

img.left,
img.float_left {
  float: left;
  margin: 5px 28px 5px 0; }

img.right,
img.float_right {
  float: right;
  margin: 5px 0 5px 28px; }

figure.float_left {
  margin: 0 20px 20px 0; }

figure.float_right {
  margin: 0 0 20px 20px; }

.overflow_hidden {
  overflow: hidden; }

.clearfix {
  *zoom: 1; }

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: ""; }

.clearfix:after {
  clear: both; }

.hidden {
  display: none !important; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

::-webkit-input-placeholder {
  color: #babbbf; }

:-moz-placeholder,
::-moz-placeholder {
  color: #babbbf;
  opacity: 1; }

:-ms-input-placeholder {
  color: #babbbf; }

input::-ms-clear {
  display: none; }

.inner_content {
  width: 1050px;
  margin: 0 auto;
  position: relative; }
  @media (max-width: 1100px) {
    .inner_content {
      width: 940px; } }

.section_services_nav .tab_links li, .section_partners_nav .tab_links li, .show_more_link, .partner_info_role {
  font: 500 16px/20px "PF Din Text Comp Pro", Roboto Condenced, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0px;
  text-indent: 4px; }

.form_row, .section_services_nav .tab_links, .section_clients .tab_links, .section_partners_nav .tab_links, .service_preview_list, .service_help_container, .service_features_container, .tab_content_header, .reviews_list, .section_header, .partners_container, .partner_text_container, .advantages_list, .contacts_container, .clients_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 0 0 -30px; }
  @media (max-width: 1100px) {
    .form_row, .section_services_nav .tab_links, .section_clients .tab_links, .section_partners_nav .tab_links, .service_preview_list, .service_help_container, .service_features_container, .tab_content_header, .reviews_list, .section_header, .partners_container, .partner_text_container, .advantages_list, .contacts_container, .clients_list {
      margin-left: -20px; } }
.form_row_inner, .section_services_nav .tab_links li, .section_partners_nav .tab_links li, .service_preview_one, .service_text, .tab_content .section_title, .tab_subtitle, .reviews_list li, .section_header .section_title, .section_header .section_subtitle, .partner_one, .partner_info, .partner_text, .advantage_one, .contact_one, .section_clients .tab_links li, .client_one {
  display: inline-block;
  vertical-align: top; }

.form_row_inner, .section_services_nav .tab_links li, .section_partners_nav .tab_links li, .service_preview_one, .service_text, .tab_content .section_title, .tab_subtitle, .reviews_list li, .section_header .section_title, .section_header .section_subtitle, .partner_one, .partner_info, .partner_text, .advantage_one, .contact_one {
  margin: 0 0 0 30px; }
  @media (max-width: 1100px) {
    .form_row_inner, .section_services_nav .tab_links li, .section_partners_nav .tab_links li, .service_preview_one, .service_text, .tab_content .section_title, .tab_subtitle, .reviews_list li, .section_header .section_title, .section_header .section_subtitle, .partner_one, .partner_info, .partner_text, .advantage_one, .contact_one {
      margin: 0 0 0 20px; } }

.modal_order {
  width: 1050px; }

.form_row_inner, .advantages_list {
  width: 870px; }

.tab_content .section_title, .tab_subtitle, .reviews_list li, .section_header .section_title, .section_header .section_subtitle, .partner_info, .contact_one {
  width: 510px; }

.form_row_half .form_row_inner {
  width: 420px; }

.section_partners_nav .tab_links li, .service_preview_one, .partner_one {
  width: 330px; }

.section_services_nav .tab_links li, .service_text, .partner_text, .advantage_one {
  width: 240px; }

@media (max-width: 1100px) {
  .modal_order {
    width: 940px; }

  .form_row_inner, .advantages_list {
    width: 780px; }

  .tab_content .section_title, .tab_subtitle, .reviews_list li, .section_header .section_title, .section_header .section_subtitle, .partner_info, .contact_one {
    width: 460px; }

  .form_row_half .form_row_inner {
    width: 380px; }

  .section_partners_nav .tab_links li, .service_preview_one, .partner_one {
    width: 300px; }

  .section_services_nav .tab_links li, .service_text, .partner_text, .advantage_one {
    width: 220px; } }
.ic {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  fill: #25292e;
  width: 30px;
  height: 30px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out; }
  .ic_container {
    height: 70px;
    margin-bottom: 22px; }
    .ic_container .ic {
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
  .ic_menu {
    width: 24px;
    height: 19px; }
    a:hover .ic_menu {
      fill: #00a294; }
  .ic_arrow_down {
    width: 14px;
    height: 8px;
    fill: #fff; }
    a:hover .ic_arrow_down {
      fill: #25292e; }
    .show_more_link:hover .ic_arrow_down {
      -webkit-transform: translateY(10px);
              transform: translateY(10px); }
  .ic_maptag {
    width: 32px;
    height: 40px;
    fill: #fff; }
  .ic_brilliant {
    width: 59px;
    height: 50px;
	fill: #00a294; }
  .ic_weight {
    width: 62px;
    height: 50px; 
	fill: #00a294; }
  .ic_glass {
    width: 84px;
    height: 38px; 
	fill: #00a294; }
  .ic_eye {
    width: 69px;
    height: 43px; 
	fill: #00a294; }
  .ic_gear {
    width: 47px;
    height: 48px; 
	fill: #00a294; }
  .ic_mozaic {
    width: 47px;
    height: 47px; 
	fill: #00a294; }
  .ic_book {
    width: 65px;
    height: 41px; 
	fill: #00a294; }
  .ic_doc {
    width: 47px;
    height: 47px; 
	fill: #00a294; }
  .ic_tower {
    width: 39px;
    height: 54px; 
	fill: #00a294; }
  .ic_infinity {
    width: 59px;
    height: 25px; 
	fill: #00a294; }
  .ic_zoom {
    width: 47px;
    height: 48px; 
	fill: #00a294; }
  .ic_hurricane {
    width: 54px;
    height: 45px; 
	fill: #00a294; }
  .ic_arrow {
    fill: #fff;
    width: 29px;
    height: 20px; }
  .ic_circle_check {
    width: 31px;
    height: 31px;
    fill: #fff; }
  .ic_close {
    width: 24px;
    height: 24px; }
    a:hover .ic_close {
      fill: #00a294;; }
  .ic_greenrabbit {
    width: 13px;
    height: 16px;
    top: -5px; }
  .ic_one {
    width: 33px;
    height: 41px;
    fill: #00a294; }
  .ic_hat {
    width: 43px;
    height: 33px;
    fill: #00a294; }
  .ic_cube {
    width: 33px;
    height: 33px;
    fill: #00a294; }
  .ic_timer {
    width: 33px;
    height: 39px;
    fill: #00a294; }
  .ic_music {
    width: 29px;
    height: 39px;
    fill: #00a294; }
  .ic_earth {
    width: 35px;
    height: 35px;
    fill: #00a294; }
  .ic_arrow_top {
    width: 17px;
    height: 20px; }

.aroundCbox {
  bottom: 0;
  left: 0;
  max-height: 100%;
  overflow: hidden;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  width: 100%;
  z-index: 9999; }

#overlay {
  background: rgba(37, 41, 46, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: none; }

.modal_container {
  position: fixed;
  visibility: hidden;
  z-index: 200;
  -webkit-transition: visibility .3s ease;
  transition: visibility .3s ease;
  top: 150%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
  box-shadow: 0 6px 27px #1d1f22;
  padding: 70px 90px 90px; }
  .modal_container_open {
    position: absolute;
    visibility: visible;
    z-index: 1000;
    opacity: 1;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .modal_container_success {
    background: transparent;
    box-shadow: none; }
    .modal_container_success .ic_close {
      fill: #fff; }
      a:hover .modal_container_success .ic_close {
        fill: #00a294; }
    .modal_container_success .modal_content {
      display: none; }
    .modal_container_success .thx_text {
      display: block; }
  .modal_container .modal_close {
    position: absolute;
    top: 48px;
    right: 48px;
    z-index: 100; }
  @media (max-width: 1100px) {
    .modal_container {
      padding: 70px; } }

.modal_title {
  margin-bottom: 56px; }

.modal_order {
  height: 670px; }
  .modal_order .btn_send {
    margin-top: 72px; }

.thx_text {
  display: none;
  text-align: center;
  color: #f7f7f8;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative; }

.form_row {
  position: relative;
  margin-bottom: 16px; }
  .form_row_inner .textInput {
    width: 100%; }

.btn {
  display: inline-block;
  vertical-align: middle;
  border: none;
  height: 50px;
  padding: 0 25px;
  font: 20px/50px "PF Din Text Comp Pro", Roboto Condenced, sans-serif;
  text-align: center;
  text-decoration: none;
  background: #00a294;
  color: #fff;
  position: relative; }
  .btn:hover {
    background: ##00a294;
    color: #fff; }
  .btn:active {
    background: #bf2626;
    color: #fff; }
  .btn.btn_disabled, .btn.btn_disabled:hover, .btn.btn_disabled:active {
    background: transparent;
    cursor: not-allowed; }
  .btn_send {
    width: 240px;
    position: relative;
    overflow: hidden; }
    .btn_send span {
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      display: inline-block;
      width: 100%;
      height: 100%; }
    .btn_send .ic_arrow {
      position: absolute;
      top: -100%;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
    .btn_send:hover span, .btn_send_sended span {
      -webkit-transform: translateY(300%);
              transform: translateY(300%); }
    .btn_send:hover .ic_arrow, .btn_send_sended .ic_arrow {
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      margin-top: 2px; }
    .btn_send:active span {
      -webkit-transform: translateY(0);
              transform: translateY(0); }
    .btn_send:active .ic_arrow {
      top: -100%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }

.textInput {
  background: #fff;
  border: 2px solid transparent;
  border-bottom-color: #d4d6d9;
  height: 54px;
  font: 18px/46px "PF Din Text Comp Pro", Roboto Condenced, sans-serif;
  padding: 0 20px;
  vertical-align: middle;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: #25292e; }
  .textInput:focus {
    border-bottom-color: #25292e; }
  .textInput_error {
    border-bottom-color: #00a294; }

textarea.textInput {
  resize: none;
  height: 80px;
  font: 20px/25px "PF Din Text Comp Pro", Roboto Condenced, sans-serif;
  padding: 12px 30px; }

.error_text {
  font-size: 12px;
  color: #00a294; }

.logo_client {
  display: inline-block;
  vertical-align: middle;
  fill: #697078;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  position: relative;
  z-index: 1; }
.logo_ge {
  width: 61px;
  height: 61px; }
.logo_volvo {
  width: 61px;
  height: 61px; }
.logo_evyap {
  width: 97px;
  height: 40px; }
.logo_itella {
  width: 113px;
  height: 70px; }
.logo_oerlikon {
  width: 118px;
  height: 26px; }
.logo_web {
  width: 87px;
  height: 51px; }
.logo_rosnano {
  width: 90px;
  height: 60px; }
.logo_gazprom {
  width: 109px;
  height: 51px; }
.logo_suek {
  width: 107px;
  height: 42px; }
.logo_rosatom {
  width: 150px;
  height: 41px; }
.logo_ulmart {
  width: 66px;
  height: 51px; }
.logo_petrovich {
  width: 137px;
  height: 31px; }
.logo_bookvoed {
  width: 123px;
  height: 61px; }
.logo_hleb {
  width: 113px;
  height: 74px; }
.logo_melon {
  width: 137px;
  height: 21px; }
.logo_silmash {
  width: 73px;
  height: 71px; }
.logo_omz {
  width: 81px;
  height: 41px; }
.logo_gms {
  width: 99px;
  height: 41px; }
.logo_energo {
  width: 115px;
  height: 61px; }
.logo_cordiant {
  width: 148px;
  height: 22px; }
.logo_conditery {
  width: 163px;
  height: 51px; }
.logo_akvaart {
  width: 59px;
  height: 51px; }
.logo_delovye {
  width: 58px;
  height: 51px; }
.logo_lsr {
  width: 128px;
  height: 41px; }
.logo_sang {
  width: 77px;
  height: 62px; }
.logo_lengiprot {
  width: 82px;
  height: 70px; }
.logo_ruukki {
  width: 135px;
  height: 30px; }
.logo_thyssen {
  width: 168px;
  height: 38px; }
.logo_irkut {
  width: 95px;
  height: 78px; }
.logo_solina {
  width: 118px;
  height: 33px; }
.logo_vyborg {
  width: 80px;
  height: 80px; }
.logo_karavaj {
  width: 102px;
  height: 77px; }
.logo_nevamilk {
  width: 127px;
  height: 65px; }
.logo_vasileostr {
  width: 142px;
  height: 58px; }
.logo_magnat {
  width: 171px;
  height: 24px; }
.logo_volkhov {
  width: 142px;
  height: 74px; }
.logo_linum {
  width: 110px;
  height: 65px; }
.logo_bogorod {
  width: 58px;
  height: 77px; }

body.bg_white .ic_menu,
body.bg_white .ic_arrow_top {
  fill: #fff; }
body.menu_open .ic_menu {
  fill: #25292e !important; }

.section_bg {
  background: url("../../files/mountains.jpg") no-repeat 50% 0;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: -1; }

.menu_link {
  position: fixed;
  top: 47px;
  right: 46px;
  width: 25px;
  height: 19px;
  z-index: 210; }

.main_menu {
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  width: 510px;
  box-shadow: -16px 0 64px rgba(37, 41, 46, 0.3);
  z-index: 200;
  min-height: 760px;
  height: 100vh;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: translateX(150%);
          transform: translateX(150%); }
  .main_menu_open {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  .main_menu_list {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .main_menu_link {
    display: block;
    height: 70px;
    font: 20px/70px "PF Din Text Comp Pro", Roboto Condensed, Helvetica, sans-serif;
    color: #25292e;
    padding: 0 0 0 88px; }
    .main_menu_link:hover {
      color: #25292e;
      background: #eeeff1; }
    .active .main_menu_link {
      color: #fff;
      background: #00b39f; }

.section_first {
  height: 100vh;
  position: relative; }
  .section_first .show_more_link {
    position: absolute;
    bottom: 57px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
    .section_first .show_more_link .ic {
      display: block;
      margin: 20px auto 0; }
.section_red {
  background: rgba(0, 162, 148, 0.8);
  height: 370px; }
  .section_red .inner_content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: center; }
  .section_red p {
    font-size: 22px;
    line-height: 40px;
    color: #fff; }
.section_services {
  padding: 108px 0 0;
  background: #fff; }
  .section_services_nav {
    background: #fff;
    height: 84px; }
    .section_services_nav .tab_links li {
      text-align: center;
      border-top: 3px solid #fff; }
      .section_services_nav .tab_links li.active {
        border-top-color: #00a294; }
        .section_services_nav .tab_links li.active a {
          color: #00a294; }
    .section_services_nav .tab_links a {
      display: block;
      padding: 20px 0;
      color: #25292e; }
      .section_services_nav .tab_links a:hover {
        color: #00a294; }
.section_reviews {
  background: #fff;
  padding: 98px 0 85px; }
.section_clients {
  background: #25292e;
  padding: 98px 0 85px;
  min-height: 940px; }
  .section_clients .section_title {
    color: #fff; }
  .section_clients .tab_links {
    margin: 0;
    padding: 14px 0; }
    .section_clients .tab_links li {
      font: 500 20px/25px "PF Din Text Comp Pro", Roboto Condensed, Helvetica, sans-serif;
      margin-right: 25px; }
      .section_clients .tab_links li.active a {
        color: #00a294;
        border-bottom-color: #00a294; }
    .section_clients .tab_links a {
      color: #fff;
      display: block;
      line-height: 38px;
      border-bottom: 3px solid transparent; }
      .section_clients .tab_links a:hover {
        color: #00a294;
        border-bottom-color: #00a294; }
  .section_clients .tab_container {
    background: #25292e;
    padding: 40px 0; }
.section_team {
  background: #fff /*url(../../files/team.jpg) 50% 100% no-repeat*/;
  padding: 98px 0 60px; }
.section_partners {
  background: #fff;
  padding: 120px 0 85px; }
  .section_partners_nav {
    background: #fff;
    height: 84px; }
    .section_partners_nav .tab_links li {
      text-align: center;
      border-top: 3px solid #fff; }
      .section_partners_nav .tab_links li.active {
        border-top-color: #00a294; }
        .section_partners_nav .tab_links li.active a {
          color: #00a294 }
    .section_partners_nav .tab_links a {
      display: block;
      padding: 22px 0;
      color: #25292e; }
      .section_partners_nav .tab_links a:hover {
        color: #00a294; }
.section_advantages {
  background: #25292e url(../../files/ribbon-star.png) 100% 50% no-repeat;
  height: 100vh;
  min-height: 860px; }
  .section_advantages .inner_content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .section_advantages .section_title {
    color: #fff;
    margin-bottom: 50px; }
.section_feedback {
  background: #fff;
  height: 100vh;
  min-height: 760px;
  position: relative; }
  .section_feedback .inner_content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .section_feedback .section_title {
    margin-bottom: 64px; }

.logo_container {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: right;
  margin-top: -8px; }
  .logo_container p {
    color: #004564;
}

.logo {
  background: url(../images/logo.png) 0 0 no-repeat;
  width: 326px;
  height: 126px;
  margin: 0 auto 50px; }
  .logo a {
    display: block;
    width: 326px;
    height: 126px; }

.show_more_link {
  color: #00a294;
  display: block;
  text-align: center;
  padding: 15px 0; }

.service_preview_one {
  text-align: center; }
  .service_preview_one p:not(.service_preview_name) {
    margin-bottom: 34px; }
.service_preview_full {
  margin: 85px 0 0;
  position: relative;
  width: 100%;
  display: block; }
  .service_preview_full .ic {
    margin-bottom: 5px; }
  .service_preview_full img {
    width: 100%; }
  .service_preview_full .service_preview_name {
    color: #fff;
    font-size: 38px;
    margin-bottom: 34px; }
.service_preview_name {
  font: 500 26px/30px "PF Din Text Comp Pro", Roboto Condenced, sans-serif;
  text-transform: uppercase;
  margin-bottom: 14px; }
.service_preview_text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
.service_help_container {
  margin-bottom: 65px; }
.service_features_container {
  margin-top: 48px;
  margin-bottom: 112px; }

.map_container {
  margin: -20px 0 100px;
  position: relative;
  z-index: 1; }
  .map_container img {
    max-width: 100%; }

.tab_container {
  background: #fff;
  padding: 105px 0 90px; }
.tab_content {
  display: none; }
  .tab_content_header {
    position: relative;
    z-index: 5; }
.tab_service {
  background: #fff url(../images/ribbon.png) 50% 60px no-repeat; }
  .tab_service .tab_content_header {
    margin-bottom: 360px; }
.tab_subtitle {
  font-size: 22px;
  line-height: 26px;
  margin-top: 36px;
  letter-spacing: .4px;
  text-indent: .4px; }
.tab_partner .tab_content_header {
  margin-bottom: 30px; }
.tab_partner h2 {
  font-size: 38px; }

.big_img {
  background-position: 50% 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  .big_img img {
    width: 100%;
    visibility: hidden;
    opacity: 0; }
  @media (min-device-width: 0) and (max-device-width: 736px) and (orientation: portrait) {
    .big_img {
      background: none; }
      .big_img img {
        visibility: visible;
        opacity: 1; } }
  @media (min-device-width: 0) and (max-device-width: 736px) and (orientation: landscape) {
    .big_img {
      background: none; }
      .big_img img {
        visibility: visible;
        opacity: 1; } }
  @media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .big_img {
      background-attachment: scroll; } }
  @media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .big_img {
      background-attachment: scroll; } }

.reviews_list {
  margin-top: 68px;
  margin-bottom: 68px; }
  .reviews_list li {
    margin-bottom: 15px; }

.review_one {
  margin: 0 -15px;
  padding: 15px;
  overflow: hidden; }
  .review_one_container {
    position: relative; }
  .review_one:hover {
    cursor: pointer;
    background: #eeeff1; }
.review_photo {
  width: 90px;
  height: 90px;
  float: left;
  clear: left;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px; }
.review_info {
  overflow: hidden;
  padding: 5px 0 0; }
.review_author_company {
  font: 500 22px/26px "PF Din Text Comp Pro", Roboto Condenced, sans-serif;
  margin-bottom: 10px; }
.review_author_name {
  font-size: 16px;
  line-height: 18px; }
.review_author_role {
  display: block; }
.review_text {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  box-shadow: 0 6px 20px rgba(29, 31, 34, 0.2);
  z-index: 10;
  background: #fff;
  padding: 30px 34px 30px 45px; }
  .review_text:before {
    content: '';
    display: block;
    width: 3px;
    position: absolute;
    left: 0;
    top: 30px;
    bottom: 30px;
    background: #00a294; }
  .review_text:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: #ffffff transparent transparent;
    position: absolute;
    top: 100%;
    left: 55px; }

.section_header {
  position: relative; }
  .section_header .section_subtitle {
    font-size: 22px;
    line-height: 26px; }

.partner_one {
  text-align: center; }
.partner_photo {
  margin: 0 0 48px; }
  .partner_photo img {
    width: 100%; }
.partner_name {
  font: 500 34px/40px "PF Din Text Comp Pro", Roboto Condenced, sans-serif;
  margin-bottom: 15px; }
.partner_role {
  margin-bottom: 30px; }
.partner_info_photo {
  float: left;
  width: 120px;
  height: 120px;
  clear: both;
  border-radius: 50%;
  overflow: hidden;
  margin: 6px 26px 0 0; }
.partner_info_text {
  overflow: hidden; }
.partner_info_name {
  margin-bottom: 16px; }
.partner_info_role {
  font-size: 14px; }
.partner_text_container {
  margin-bottom: -7px; }

.advantage_one {
  margin-bottom: 25px; }
  .advantage_one_inner {
    position: relative;
    margin: 0 0 0 -30px;
    padding: 30px 0 30px 30px; }
    .advantage_one_inner:hover {
      background: #2d3137;
      cursor: pointer; }
      .advantage_one_inner:hover .ic_arrow_down {
        fill: #00a294; }
      .advantage_one_inner:hover .advantage_text {
        display: block; }
  .advantage_one .ic:not(.ic_arrow_down) {
    margin-bottom: 18px; }
.advantage_name {
  font: 20px/25px "PF Din Text Comp Pro", Roboto Condenced, sans-serif;
  color: #fff;
  margin-bottom: 18px; }
.advantage_text {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 6px 20px rgba(29, 31, 34, 0.2);
  z-index: 10;
  background: #fff;
  padding: 30px 34px 30px 45px;
  width: 540px; }
  .advantage_text:before {
    content: '';
    display: block;
    width: 3px;
    position: absolute;
    left: 0;
    top: 30px;
    bottom: 30px;
    background: #00a294; }
  .advantage_text:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px;
    border-color: transparent transparent #ffffff;
    position: absolute;
    bottom: 100%;
    left: 55px; }

.contacts_container {
  margin-bottom: 86px; }

.contact_one p {
  font-size: 22px;
  line-height: 40px; }
.contact_one .show_more_link {
  font-size: 12px; }
.contact_address {
  margin-bottom: 0; }
.contact_city {
  font-size: 38px;
  line-height: 40px; }
.contact_map {
  margin-bottom: 30px; }
  .contact_map .show_more_link {
    display: inline;
    padding: 0; }
.contact_phone {
  margin-bottom: 30px; }

.nav_inner {
  background: #fff;
  left: 0;
  right: 0;
  top: 0;
  z-index: 200; }
  .nav_inner_fix {
    position: fixed; }

.clients_list {
  text-align: center;
  margin: 0; }

.client_one {
  width: 180px;
  margin: 0 15px 30px;
  text-align: left; }
.client_logo_container {
  width: 180px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  position: relative; }
  .client_logo_container:hover {
    cursor: pointer; }
    .client_logo_container:hover .logo_client {
      fill: #fff; }
.client_logo_helper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; }
.client_text {
  display: none; }
  .client_text_inner {
    background: #fff;
    width: 420px;
    box-shadow: 0 6px 24px #1d1f22;
    padding: 31px 42px; }
.client_name {
  font: 500 22px/26px "PF Din Text Comp Pro", Roboto Condenced, sans-serif;
  margin-bottom: 10px; }
.client_description {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 28px; }
.client_works {
  position: relative;
  padding: 7px 0; }
  .client_works:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -42px;
    bottom: 0;
    width: 3px;
    background: #00a294; }

.copyright {
  position: absolute;
  bottom: 47px;
  right: 57px; }
  .copyright p {
    font-size: 12px;
    margin: 0 0 5px;
    line-height: 15px; }
    .copyright p.greenrabbit {
      font: 900 13px/15px "PF Din Text Comp Pro", Roboto Condenced, sans-serif;
      text-transform: uppercase;
      margin-bottom: 0;
      letter-spacing: 3.5px; }
  .copyright a {
    color: #25292e; }
    .copyright a:hover {
      color: #00a294; }
      .copyright a:hover .ic {
        fill: #00a294; }

.partners_container_main .section_nav,
.partners_container_main .tab_container {
  display: block; }

.show_more_link_partners {
  position: absolute;
  bottom: -8px;
  left: 30px; }

.to_top_link {
  position: fixed;
  top: 50%;
  right: 44px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 190;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  display: none; }
