.ask-answer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f3f3f3; }
  .ask-answer_caption {
    font-family: 'Lato', sans-serif;
    color: #333333;
    font-size: 48px;
    width: 40%;
    font-weight: 700;
    text-align: left;
    border-left: 8px solid #01afa5;
    padding-left: 20px;
    text-transform: uppercase; }
  .ask-answer_content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
    justify-content: center; }

body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img, abbr {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ul li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

legend {
  color: #000; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

img {
  max-width: 100%;
  height: auto; }

body {
  min-width: 320px;
  background: url("../img/bg.png") repeat-y;
  background-size: 100%;
  font-family: 'Lato', sans-serif;
  color: #333333;
  overflow-x: hidden; }

section {
  max-width: 1920px;
  margin: 0 auto; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px; }
  @media screen and (max-width: 992px) {
    .wrapper {
      padding-left: 15px;
      padding-right: 15px; } }

.flex-column {
  display: flex;
  flex-direction: column; }

.accordion {
  width: 100%; }
  .accordion_item {
    width: 100%;
    margin-bottom: 10px; }
    .accordion_item_title_block {
      position: relative;
      border-radius: 9px;
      border: 1px solid #d7d7d7;
      box-sizing: border-box;
      background-color: #fafbfc;
      box-shadow: 6px 10px 35px 0px rgba(0, 0, 0, 0.08);
      width: 100%;
      height: 97px;
      font-family: 'Lato', sans-serif;
      color: #000000;
      font-size: 24px;
      font-weight: 900;
      display: flex;
      padding: 0 50px;
      align-items: center;
      z-index: 3; }
      .accordion_item_title_block span {
        position: absolute;
        right: 20px;
        font-weight: 900; }
    .accordion_item_title_block_active {
      border-radius: 9px 9px 0 0; }
    .accordion_item_info {
      margin-top: -1px;
      display: none;
      padding: 50px 50px;
      box-sizing: border-box;
      z-index: 0;
      border-radius: 0 0 9px 9px;
      border: 1px solid  #d7d7d7;
      background-color: white;
      box-shadow: 6px 10px 35px 0px rgba(0, 0, 0, 0.08);
      width: 100%;
      height: 157px;
      transition: all 0.3s; }

.contact {
  padding-top: 100px;
  padding-bottom: 50px; }
  .contact_caption {
    font-family: 'Lato', sans-serif;
    color: #333333;
    font-size: 48px;
    width: 40%;
    font-weight: 700;
    text-align: left;
    border-left: 8px solid #01afa5;
    padding-left: 20px;
    text-transform: uppercase; }
  .contact_content {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .contact_content_block {
      box-sizing: border-box;
      word-wrap: break-word;
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 20px; }
      @media screen and (max-width: 992px) {
        .contact_content_block {
          width: calc(100% / 12 * 6 - 30px); } }
      .contact_content_block h2 {
        font-family: 'Lato', sans-serif;
        color: #000000;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        text-align: left; }
      .contact_content_block p {
        margin-top: 3px;
        font-family: 'Lato', sans-serif;
        color: #000000;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        text-align: left; }
  .contact_map {
    margin-top: 20px;
    width: 100%;
    height: 596px;
    background: #999999; }
    .contact_map div {
      width: 100%;
      height: 100%; }

footer {
  background: #fff;
  padding-bottom: 20px; }

.footer_content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end; }
  .footer_content_logo {
    margin-left: 12px;
    display: flex; }
    .footer_content_logo_img {
      margin-right: 10px; }
      .footer_content_logo_img > img {
        height: 70px; }
    .footer_content_logo_caption_name {
      font-family: 'Lato', sans-serif;
      color: #333333;
      font-size: 30px;
      font-weight: 900;
      text-align: left;
      line-height: 30px; }
    .footer_content_logo_caption_info {
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      font-weight: 400;
      text-align: left; }
  .footer_content_info {
    margin-left: 60px;
    flex-grow: 1;
    text-align: left; }
    .footer_content_info h2 {
      font-family: 'Lato', sans-serif;
      color: #000000;
      font-size: 18px;
      font-weight: 900;
      line-height: 27px;
      text-align: left; }
    .footer_content_info p {
      font-family: 'Lato', sans-serif;
      color: #000000;
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      text-align: left; }
      .footer_content_info p span {
        font-weight: 900; }
  .footer_content_phone {
    align-self: flex-start;
    margin-right: 10px;
    text-align: right; }
    .footer_content_phone_number {
      display: block;
      font-size: 24px;
      font-weight: 400;
      text-align: left;
      font-family: 'Lato', sans-serif; }
      .footer_content_phone_number_icon {
        padding-top: 5px;
        display: inline-block;
        color: #01afa5;
        margin-right: 9px;
        font-style: normal;
        transform: rotate(-20deg); }
    .footer_content_phone_call {
      font-family: 'Lato', sans-serif;
      color: #01afa5;
      font-size: 18px;
      font-weight: 400;
      text-align: left;
      text-decoration: none;
      border-bottom: 2px dotted #01afa5; }

.debug {
  height: 100vh;
  position: fixed;
  width: 100%; }
  .debug > div {
    height: inherit;
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px; }
    @media screen and (max-width: 992px) {
      .debug > div {
        padding-left: 15px;
        padding-right: 15px; } }
    .debug > div > div {
      height: inherit;
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px; }
      .debug > div > div > div {
        box-sizing: border-box;
        word-wrap: break-word;
        margin-left: 15px;
        margin-right: 15px;
        width: calc(100% / 12 * 1 - 30px);
        height: inherit;
        outline: 1px solid red;
        background: rgba(0, 0, 0, 0.5); }


.get {
  padding-top: 100px;
  padding-bottom: 100px; }
  .get_caption {
    font-family: 'Lato', sans-serif;
    color: #333333;
    font-size: 48px;
    width: 50%;
    font-weight: 700;
    text-align: left;
    border-left: 8px solid #01afa5;
    padding-left: 20px;
    text-transform: uppercase; }
  .get_content {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: flex-start;
    margin-top: 150px; }
    .get_content_block {
      box-sizing: border-box;
      word-wrap: break-word;
      margin-left: 15px;
      margin-right: 15px;
      width: calc(100% / 12 * 4 - 30px);
      margin-bottom: 40px;
      position: relative; }
      .get_content_block_img {
        margin-bottom: 20px;
        position: relative; }
        .get_content_block_img i {
          color: #fff;
          background: #01afa5;
          padding: 2px 6px;
          border-radius: 50%;
          font-style: normal;
          position: absolute;
          bottom: 15px; }
        .get_content_block_img img {
          margin-left: 30px; }
      .get_content_block_next {
        position: absolute;
        top: 20px;
        right: 0;
        font-size: 30px;
        color: #e1e1e1; }
      .get_content_block_caption {
        font-family: 'Lato', sans-serif;
        color: #000000;
        font-size: 24px;
        font-weight: 900;
        text-align: left; }
      .get_content_block_text {
        margin-top: 20px;
        font-family: 'Lato', sans-serif;
        color: #000000;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-align: left; }
      .get_content_block_btn {
        margin-top: 20px;
        display: inline-block;
        border-radius: 50px;
        background-color: #01afa5;
        width: 266px;
        padding: 20px 0;
        font-family: 'Lato', sans-serif;
        color: #fcfcfc;
        font-size: 16px;
        font-weight: 900;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none; }
        .get_content_block_btn:hover {
          box-shadow: 0px 0px 2px 2px #999; }
  .get_info-block {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% / 12 * 12 - 30px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 10px solid #01afa5;
    padding: 50px 30px;
    border-radius: 10px;
    box-sizing: border-box; }
    .get_info-block_information {
      font-family: 'Lato', sans-serif;
      color: #333333;
      font-size: 27px;
      font-weight: 400;
      line-height: 36px;
      text-align: center;
      width: 100%;
      margin-bottom: 50px; }
      .get_info-block_information_order {
        display: inline-block;
        border-radius: 50px;
        text-transform: uppercase;
        text-decoration: none;
        background-color: #333333;
        width: 387px;
        padding: 20px 0;
        font-family: 'Lato', sans-serif;
        color: #fcfcfc;
        font-size: 16px;
        font-weight: 900;
        line-height: 24px;
        text-align: center;
        margin-right: 20px; }
        .get_info-block_information_order:hover {
          box-shadow: 0px 0px 2px 2px #999; }
      .get_info-block_information_status {
        display: inline-block;
        border-radius: 50px;
        text-transform: uppercase;
        text-decoration: none;
        background-color: #01afa5;
        width: 387px;
        padding: 20px 0;
        font-family: 'Lato', sans-serif;
        color: #fcfcfc;
        font-size: 16px;
        font-weight: 900;
        line-height: 24px;
        text-align: center; }
        .get_info-block_information_status:hover {
          box-shadow: 0px 0px 2px 2px #999; }

header {
  background: url("../img/bg_header.png") no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 650px;
  width: 100vw;
  padding-top: 18px; }

.header_top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .header_top_logo {
    margin-left: 12px;
    display: flex;
    align-items: flex-end; }
    .header_top_logo_img {
      margin-right: 10px; }
      .header_top_logo_img > img {
        height: 70px; }
    .header_top_logo_caption_name {
      font-family: 'Lato', sans-serif;
      color: #333333;
      font-size: 30px;
      font-weight: 900;
      text-align: left;
      line-height: 30px; }
    .header_top_logo_caption_info {
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      font-weight: 400;
      text-align: left; }
  .header_top_menu_item {
    margin-right: 35px;
    display: inline-block;
    list-style-type: none; }
    .header_top_menu_item_link {
      font-family: 'Lato', sans-serif;
      font-size: 18px;
      font-weight: 400;
      text-align: left;
      border-bottom: 2px dotted #333333;
      text-decoration: none;
      color: #333333; }
  .header_top_phone {
    margin-right: 10px;
    margin-top: 20px;
    text-align: right; }
    .header_top_phone_number {
      display: block;
      font-size: 24px;
      font-weight: 400;
      text-align: left;
      font-family: 'Lato', sans-serif; }
      .header_top_phone_number_icon {
        padding-top: 5px;
        display: inline-block;
        color: #01afa5;
        margin-right: 9px;
        font-style: normal;
        transform: rotate(-20deg); }
    .header_top_phone_call {
      font-family: 'Lato', sans-serif;
      color: #01afa5;
      font-size: 18px;
      font-weight: 400;
      text-align: left;
      text-decoration: none;
      border-bottom: 2px dotted #01afa5; }

.header_content {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% / 12 * 6 - 30px);
  margin-top: 10%;
  align-self: flex-end; }
  .header_content_caption {
    margin-left: -30px;
    border-left: 8px solid #01afa5;
    font-family: 'Lato', sans-serif;
    line-height: 48px;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    padding-left: 20px; }
  .header_content_info {
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 27px;
    line-height: 30px;
    width: 75%;
    font-weight: 400;
    text-align: left; }
  .header_content_conditions {
    margin-top: 36px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 50px; }
  .header_content_condition {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% / 12 * 3.5 - 30px);
    text-align: left;
    font-family: 'Lato', sans-serif;
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; }
    .header_content_condition span {
      font-family: 'Lato', sans-serif;
      color: #333333;
      font-size: 18px;
      font-weight: 900;
      line-height: 24px;
      text-align: left; }
    .header_content_condition_line {
      background-color: #bae387;
      width: 34px;
      height: 4px;
      display: inline-block;
      text-align: left;
      border: none; }
  .header_content_bth {
    background-color: #01afa5;
    width: 266px;
    height: 64px;
    color: #fcfcfc;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    border: none; }
    .header_content_bth:hover {
      box-shadow: 0px 0px 2px 2px #999; }

.line_theme-1 {
  background-color: #bae387; }

.line_theme-2 {
  background-color: #00d6ce; }

.line_theme-3 {
  background-color: #01afa5; }

body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img, abbr {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ul li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

legend {
  color: #000; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

img {
  max-width: 100%;
  height: auto; }

body {
  min-width: 320px;
  background: url("../img/bg.png") repeat-y;
  background-size: 100%;
  font-family: 'Lato', sans-serif;
  color: #333333;
  overflow-x: hidden; }

section {
  max-width: 1920px;
  margin: 0 auto; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px; }
  @media screen and (max-width: 992px) {
    .wrapper {
      padding-left: 15px;
      padding-right: 15px; } }

.flex-column {
  display: flex;
  flex-direction: column; }

.accordion {
  width: 100%; }
  .accordion_item {
    width: 100%;
    margin-bottom: 10px; }
    .accordion_item_title_block {
      position: relative;
      border-radius: 9px;
      border: 1px solid #d7d7d7;
      box-sizing: border-box;
      background-color: #fafbfc;
      box-shadow: 6px 10px 35px 0px rgba(0, 0, 0, 0.08);
      width: 100%;
      height: 97px;
      font-family: 'Lato', sans-serif;
      color: #000000;
      font-size: 24px;
      font-weight: 900;
      display: flex;
      padding: 0 50px;
      align-items: center;
      z-index: 3; }
      .accordion_item_title_block span {
        position: absolute;
        right: 20px;
        font-weight: 900; }
    .accordion_item_title_block_active {
      border-radius: 9px 9px 0 0; }
    .accordion_item_info {
      margin-top: -1px;
      display: none;
      padding: 50px 50px;
      box-sizing: border-box;
      z-index: 0;
      border-radius: 0 0 9px 9px;
      border: 1px solid  #d7d7d7;
      background-color: white;
      box-shadow: 6px 10px 35px 0px rgba(0, 0, 0, 0.08);
      width: 100%;
      height: 157px;
      transition: all 0.3s; }

.debug {
  height: 100vh;
  position: fixed;
  width: 100%; }
  .debug > div {
    height: inherit;
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px; }
    @media screen and (max-width: 992px) {
      .debug > div {
        padding-left: 15px;
        padding-right: 15px; } }
    .debug > div > div {
      height: inherit;
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px; }
      .debug > div > div > div {
        box-sizing: border-box;
        word-wrap: break-word;
        margin-left: 15px;
        margin-right: 15px;
        width: calc(100% / 12 * 1 - 30px);
        height: inherit;
        outline: 1px solid red;
        background: rgba(0, 0, 0, 0.5); }

header {
  background: url("../img/bg_header.png") no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 650px;
  width: 100vw;
  padding-top: 18px; }

.header_top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .header_top_logo {
    margin-left: 12px;
    display: flex;
    align-items: flex-end; }
    .header_top_logo_img {
      margin-right: 10px; }
      .header_top_logo_img > img {
        height: 70px; }
    .header_top_logo_caption_name {
      font-family: 'Lato', sans-serif;
      color: #333333;
      font-size: 30px;
      font-weight: 900;
      text-align: left;
      line-height: 30px; }
    .header_top_logo_caption_info {
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      font-weight: 400;
      text-align: left; }
  .header_top_menu_item {
    margin-right: 35px;
    display: inline-block;
    list-style-type: none; }
    .header_top_menu_item_link {
      font-family: 'Lato', sans-serif;
      font-size: 18px;
      font-weight: 400;
      text-align: left;
      border-bottom: 2px dotted #333333;
      text-decoration: none;
      color: #333333; }
  .header_top_phone {
    margin-right: 10px;
    margin-top: 20px;
    text-align: right; }
    .header_top_phone_number {
      display: block;
      font-size: 24px;
      font-weight: 400;
      text-align: left;
      font-family: 'Lato', sans-serif; }
      .header_top_phone_number_icon {
        padding-top: 5px;
        display: inline-block;
        color: #01afa5;
        margin-right: 9px;
        font-style: normal;
        transform: rotate(-20deg); }
    .header_top_phone_call {
      font-family: 'Lato', sans-serif;
      color: #01afa5;
      font-size: 18px;
      font-weight: 400;
      text-align: left;
      text-decoration: none;
      border-bottom: 2px dotted #01afa5; }

.header_content {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% / 12 * 6 - 30px);
  margin-top: 10%;
  align-self: flex-end; }
  .header_content_caption {
    margin-left: -30px;
    border-left: 8px solid #01afa5;
    font-family: 'Lato', sans-serif;
    line-height: 48px;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    padding-left: 20px; }
  .header_content_info {
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 27px;
    line-height: 30px;
    width: 75%;
    font-weight: 400;
    text-align: left; }
  .header_content_conditions {
    margin-top: 36px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 50px; }
  .header_content_condition {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% / 12 * 3.5 - 30px);
    text-align: left;
    font-family: 'Lato', sans-serif;
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; }
    .header_content_condition span {
      font-family: 'Lato', sans-serif;
      color: #333333;
      font-size: 18px;
      font-weight: 900;
      line-height: 24px;
      text-align: left; }
    .header_content_condition_line {
      background-color: #bae387;
      width: 34px;
      height: 4px;
      display: inline-block;
      text-align: left;
      border: none; }
  .header_content_bth {
    background-color: #01afa5;
    width: 266px;
    height: 64px;
    color: #fcfcfc;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    border: none; }
    .header_content_bth:hover {
      box-shadow: 0px 0px 2px 2px #999; }

.line_theme-1 {
  background-color: #bae387; }

.line_theme-2 {
  background-color: #00d6ce; }

.line_theme-3 {
  background-color: #01afa5; }



.no-answer {
  background: url("../img/answer.png") no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px; }
  .no-answer_caption {
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 48px;
    width: 40%;
    font-weight: 700;
    text-align: left;
    border-left: 8px solid #FFF;
    padding-left: 20px;
    text-transform: uppercase; }
  .no-answer_content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
    justify-content: center;
    background: #fff;
    padding: 60px 74px;
    border-radius: 10px; }
    .no-answer_content_caption {
      margin-bottom: 20px;
      width: 100%;
      text-align: left;
      font-family: 'Lato', sans-serif;
      color: #000000;
      font-size: 30px;
      font-weight: 900;
      margin-left: 10px; }
    .no-answer_content_box {
      box-sizing: border-box;
      word-wrap: break-word;
      margin-left: 15px;
      margin-right: 15px;
      width: calc(100% / 12 * 6 - 30px); }
      .no-answer_content_box-big {
        margin: 20px 0;
        box-sizing: border-box;
        word-wrap: break-word;
        margin-left: 15px;
        margin-right: 15px;
        width: calc(100% / 12 * 12 - 30px); }
        .no-answer_content_box-big span {
          display: block;
          font-family: 'Lato', sans-serif;
          color: #333333;
          font-size: 14px;
          font-weight: 900;
          line-height: 33px;
          text-align: left; }
        .no-answer_content_box-big textarea {
          width: 100%;
          border-radius: 9px;
          border: 1px solid #cecece;
          box-sizing: border-box;
          background-color: #ffffff;
          height: 194px;
          padding: 10px;
          font-family: 'Lato', sans-serif;
          color: #333333;
          font-size: 16px;
          font-weight: 400;
          line-height: 33px;
          text-align: left; }
      .no-answer_content_box span {
        display: block;
        font-family: 'Lato', sans-serif;
        color: #333333;
        font-size: 14px;
        font-weight: 900;
        line-height: 33px;
        text-align: left; }
      .no-answer_content_box input {
        border-radius: 9px;
        border: 1px solid #cecece;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 100%;
        box-sizing: border-box;
        height: 54px;
        padding: 10px;
        font-family: 'Lato', sans-serif;
        color: #333333;
        font-size: 16px;
        font-weight: 400;
        line-height: 33px;
        text-align: left; }
    .no-answer_content_send {
      background-color: #01afa5;
      width: 387px;
      padding: 20px 0;
      text-align: center;
      border: none;
      border-radius: 50px;
      font-family: 'Lato', sans-serif;
      color: #fcfcfc;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase; }
      .no-answer_content_send:hover {
        box-shadow: 0px 0px 2px 2px #999; }

.our-testimonies {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #f3f3f3; }
  .our-testimonies_caption {
    font-family: 'Lato', sans-serif;
    color: #333333;
    font-size: 48px;
    width: 50%;
    font-weight: 700;
    text-align: left;
    border-left: 8px solid #01afa5;
    padding-left: 20px;
    text-transform: uppercase; }

.partners {
  padding-top: 100px;
  padding-bottom: 100px; }
  .partners_caption {
    font-family: 'Lato', sans-serif;
    color: #333333;
    font-size: 48px;
    width: 35%;
    font-weight: 700;
    text-align: left;
    border-left: 8px solid #01afa5;
    padding-left: 20px;
    text-transform: uppercase; }
  .partners_content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
    justify-content: center; }
    .partners_content_block {
      box-sizing: border-box;
      word-wrap: break-word;
      margin-left: 15px;
      margin-right: 15px;
      width: calc(100% / 12 * 3 - 30px);
      border-radius: 6px;
      border: 1px solid #d7d7d7;
      box-sizing: border-box;
      background-color: #ffffff;
      box-shadow: 6px 10px 35px 0px rgba(0, 0, 0, 0.08);
      width: 195px;
      height: 97px;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center; }

.principles {
  padding-top: 100px;
  padding-bottom: 100px; }
  .principles_caption {
    font-family: 'Lato', sans-serif;
    color: #333333;
    font-size: 48px;
    width: 35%;
    font-weight: 700;
    text-align: left;
    border-left: 8px solid #01afa5;
    padding-left: 20px;
    text-transform: uppercase; }
  .principles_content {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 70px;
    justify-content: flex-start; }
    .principles_content_item {
      margin-bottom: 30px;
      box-sizing: border-box;
      word-wrap: break-word;
      margin-left: 15px;
      margin-right: 15px;
      width: calc(100% / 12 * 6 - 30px);
      border: 1px solid #d7d7d7;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 529px;
      height: 264px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start; }
      .principles_content_item_info {
        font-family: 'Lato', sans-serif;
        color: #000000;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        padding: 10% 11% 5% 9%; }
        .principles_content_item_info span {
          font-weight: 900; }
      .principles_content_item_number {
        box-sizing: border-box;
        padding: 10px 0;
        border: 10px solid #01afa5;
        flex-grow: 0;
        margin: -10px;
        border-radius: 3px;
        width: 60px;
        text-align: center; }

.reviews {
  padding-top: 100px;
  padding-bottom: 100px; }
  .reviews_caption {
    font-family: 'Lato', sans-serif;
    color: #333333;
    font-size: 48px;
    width: 40%;
    font-weight: 700;
    text-align: left;
    border-left: 8px solid #01afa5;
    padding-left: 20px;
    text-transform: uppercase; }
  .reviews_content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
    justify-content: center; }
    .reviews_content_block {
      box-sizing: border-box;
      word-wrap: break-word;
      margin-left: 15px;
      margin-right: 15px;
      width: calc(100% / 12 * 3 - 30px);
      border-radius: 6px;
      border: 1px solid #d7d7d7;
      box-sizing: border-box;
      background-color: #ffffff;
      box-shadow: 6px 10px 35px 0px rgba(0, 0, 0, 0.08);
      width: 195px;
      height: 97px;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center; }

.safeguards {
  padding-top: 100px; }
  .safeguards_caption {
    width: 45%;
    font-family: 'Lato', sans-serif;
    color: #333333;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    border-left: 8px solid #01afa5;
    padding-left: 20px;
    text-transform: uppercase; }
  .safeguards_content {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: center;
    margin-top: 50px; }
    .safeguards_content_item {
      margin: 50px 0 100px;
      box-sizing: border-box;
      word-wrap: break-word;
      margin-left: 15px;
      margin-right: 15px;
      width: calc(100% / 12 * 4 - 30px);
      padding: 3px 10px; }
      .safeguards_content_item_img {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px; }
      .safeguards_content_item_name {
        padding: 0 30px;
        font-family: 'Lato', sans-serif;
        color: #000000;
        font-size: 24px;
        font-weight: 900;
        line-height: 24px;
        text-align: center;
        margin-bottom: 20px; }
      .safeguards_content_item_info {
        font-family: 'Lato', sans-serif;
        color: #000000;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center; }
    .safeguards_content_request {
      box-sizing: border-box;
      word-wrap: break-word;
      margin-left: 15px;
      margin-right: 15px;
      width: calc(100% / 12 * 8 - 30px);
      border: 10px solid #01afa5;
      border-radius: 10px;
      padding: 10% 10%; }
      .safeguards_content_request_name {
        font-family: 'Lato', sans-serif;
        color: #000000;
        font-size: 30px;
        font-weight: 700;
        text-align: left;
        margin-bottom: 20px; }
      .safeguards_content_request_info {
        font-family: 'Lato', sans-serif;
        color: #000000;
        font-size: 21px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        margin-bottom: 70px; }
      .safeguards_content_request_btn {
        background-color: #01afa5;
        width: 266px;
        border-radius: 50px;
        padding: 30px;
        font-family: 'Lato', sans-serif;
        color: #fcfcfc;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        text-transform: uppercase;
        text-decoration: none;
        margin-top: 40px; }
        .safeguards_content_request_btn:hover {
          box-shadow: 0px 0px 2px 2px #999; }

.our-service {
  padding-top: 100px;
  padding-bottom: 100px; }
  .our-service_caption {
    font-family: 'Lato', sans-serif;
    color: #333333;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    border-left: 8px solid #01afa5;
    padding-left: 20px;
    text-transform: uppercase; }
  .our-service_content {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px; }
    .our-service_content_items-service {
      box-sizing: border-box;
      word-wrap: break-word;
      margin-left: 15px;
      margin-right: 15px;
      width: calc(100% / 12 * 3 - 30px);
      padding-top: 30px; }
    .our-service_content_item {
      box-sizing: border-box;
      font-family: 'Lato', sans-serif;
      color: #000000;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 40px;
      line-height: 20px;
      text-align: left; }
      .our-service_content_item:hover {
        color: #01afa5;
        cursor: default; }
        .our-service_content_item:hover:before {
          margin-top: -5px;
          content: "\2014";
          height: 1px;
          width: 10px;
          font-size: 20px;
          padding-right: 5px; }
    .our-service_content_box {
      border: 10px solid #01afa5;
      border-radius: 5px;
      box-sizing: border-box;
      word-wrap: break-word;
      margin-left: 15px;
      margin-right: 15px;
      width: calc(100% / 12 * 4 - 30px); }
      .our-service_content_box_img {
        transform: translate(-20px, 20px); }
    .our-service_content_box-info {
      box-sizing: border-box;
      word-wrap: break-word;
      margin-left: 15px;
      margin-right: 15px;
      width: calc(100% / 12 * 5 - 30px); }
      .our-service_content_box-info_caption {
        font-family: 'Lato', sans-serif;
        color: #333333;
        font-size: 29.99px;
        font-weight: 900;
        line-height: 36px;
        text-align: left;
        transform: scaleY(1.0004); }
      .our-service_content_box-info_items {
        margin-top: 20px; }
      .our-service_content_box-info_item {
        font-family: 'Lato', sans-serif;
        color: #333333;
        font-size: 17.99px;
        font-weight: 400;
        line-height: 33px;
        text-align: left;
        transform: scaleY(1.0004); }
        .our-service_content_box-info_item:before {
          padding-right: 10px;
          content: "\2022";
          flex: 20px;
          color: #01afa5; }
      .our-service_content_box-info_alarm {
        font-family: 'Lato', sans-serif;
        color: #333333;
        font-size: 17.99px;
        font-weight: 900;
        line-height: 36px;
        text-align: left;
        transform: scaleY(1.0004);
        margin: 40px 0; }
      .our-service_content_box-info_terms {
        border-left: 4px solid #01afa5;
        padding-left: 10px;
        font-family: 'Lato', sans-serif;
        color: #333333;
        font-size: 17.99px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        transform: scaleY(1.0004); }
      .our-service_content_box-info_btn {
        margin-top: 45px;
        display: block;
        background-color: #01afa5;
        width: 266px;
        font-family: 'Lato', sans-serif;
        color: #fcfcfc;
        font-size: 15.99px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 24px;
        transform: scaleY(1.0004);
        border-radius: 50px;
        text-align: center;
        text-decoration: none;
        padding: 20px 0; }
        .our-service_content_box-info_btn:hover {
          box-shadow: 0px 0px 2px 2px #999; }

.situation {
  background: url("../img/look.png") no-repeat;
  background-size: cover;
  padding: 126px 0; }
  .situation_caption {
    font-family: 'Lato', sans-serif;
    color: #fff;
    line-height: 50px;
    width: 50%;
    font-size: 48px;
    font-weight: 700;
    padding-left: 10px;
    text-align: left;
    border-left: 8px solid #fff;
    text-transform: uppercase; }
  .situation_content {
    margin-top: 100px;
    border-radius: 7px;
    background: #fff;
    padding: 90px 83px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px; }
    .situation_content_type {
      box-sizing: border-box;
      word-wrap: break-word;
      margin-left: 15px;
      margin-right: 15px;
      width: calc(100% / 12 * 12 - 30px); }
      .situation_content_type_select {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        .situation_content_type_select div {
          margin-right: 10px; }
          .situation_content_type_select div input[type=radio] {
            display: none; }
          .situation_content_type_select div input[type=radio] + label:before {
            content: "\26AB";
            border: 1px solid #01afa5;
            border-radius: 50%;
            display: inline-block;
            line-height: 20px;
            margin: -5px 5px 0 0;
            height: 20px;
            width: 20px;
            color: #01afa5;
            text-align: center;
            vertical-align: middle;
            font-size: 0;
            transition: font-size ease .3s; }
          .situation_content_type_select div input[type=radio]:checked + label:before {
            font-size: 15px; }
          .situation_content_type_select div label {
            font-family: 'Lato', sans-serif;
            color: #333333;
            font-size: 16px;
            font-weight: 400;
            line-height: 54px;
            text-align: left; }
    .situation_content_box {
      margin-bottom: 15px;
      box-sizing: border-box;
      word-wrap: break-word;
      margin-left: 15px;
      margin-right: 15px;
      width: calc(100% / 12 * 6 - 30px); }
      .situation_content_box_input {
        margin-top: 15px;
        border-radius: 9px;
        border: 1px solid #cecece;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 100%;
        height: 64px;
        font-family: 'Lato', sans-serif;
        color: #333333;
        font-size: 16px;
        font-weight: 400;
        line-height: 33px;
        text-align: left;
        padding: 5px 10px; }
      .situation_content_box_checkbox {
        position: relative;
        padding-left: 25px; }
        .situation_content_box_checkbox input[type=checkbox] {
          display: none; }
        .situation_content_box_checkbox label {
          padding-left: 10px;
          font-family: 'Lato', sans-serif;
          color: #333333;
          font-size: 16px;
          font-weight: 400;
          line-height: 43px;
          text-align: left;
          text-decoration: solid; }
        .situation_content_box_checkbox label:after {
          content: '';
          display: block;
          height: 20px;
          width: 20px;
          outline: 1px solid #939598;
          position: absolute;
          top: 0;
          left: 0; }
        .situation_content_box_checkbox input[type=checkbox]:checked + label:after {
          outline: 1px solid #939598;
          border: 2px solid #fff;
          width: 16px;
          height: 16px;
          background-color: #01afa5; }
      .situation_content_box_send {
        margin-top: 5px;
        border: none;
        border-radius: 50px;
        text-align: center;
        background-color: #01afa5;
        width: 472px;
        height: 64px;
        font-family: 'Lato', sans-serif;
        color: #fcfcfc;
        font-size: 15.99px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 24px;
        transform: scaleY(1.0004); }
        .situation_content_box_send:hover {
          box-shadow: 0px 0px 2px 2px #999; }
    .situation_content_name {
      font-family: 'Lato', sans-serif;
      color: #333333;
      font-size: 14px;
      font-weight: 700;
      line-height: 33px;
      text-align: left;
      text-transform: uppercase; }
      .situation_content_name i {
        font-style: normal;
        border-radius: 50%;
        box-sizing: border-box;
        background-color: #01afa5;
        padding: 2px 6px;
        color: #fff;
        margin-right: 9px; }



.vs {
  background: url("../img/vs.png") no-repeat;
  background-size: cover;
  padding: 76px 0; }
  .vs_caption {
    font-family: 'Lato', sans-serif;
    color: #fff;
    line-height: 50px;
    width: 55%;
    font-size: 48px;
    font-weight: 700;
    padding-left: 10px;
    text-align: left;
    border-left: 8px solid #fff;
    text-transform: uppercase; }
  .vs_info {
    margin-top: 10px;
    margin-left: 20px;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-align: left; }
  .vs_content {
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: center; }
    .vs_content_block {
      box-sizing: border-box;
      word-wrap: break-word;
      margin-left: 15px;
      margin-right: 15px;
      width: calc(100% / 12 * 6 - 30px);
      background-color: #fafbfc;
      margin: 0;
      display: block; }
      .vs_content_block:nth-child(odd) {
        border-radius: 5000px 0 0 0 !important; }
      .vs_content_block_caption {
        font-family: 'Lato', sans-serif;
        color: #000000;
        font-size: 24px;
        font-weight: 900;
        text-align: left;
        background: #fafbfc;
        padding: 30px 70px;
        box-shadow: 6px 10px 35px rgba(0, 0, 0, 0.08);
        border: 1px solid #d7d7d7; }
        .vs_content_block_caption i {
          font-style: normal;
          font-weight: 900;
          margin-right: 5px; }
          .vs_content_block_caption i.green {
            color: #01afa5; }
          .vs_content_block_caption i.red {
            color: #da5353; }
      .vs_content_block_main {
        font-family: 'Lato', sans-serif;
        background: #fff;
        padding: 30px 70px;
        color: #000000;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        box-shadow: 6px 10px 35px rgba(0, 0, 0, 0.08);
        border: 1px solid #d7d7d7; }
      .vs_content_block_caption_result {
        font-family: 'Lato', sans-serif;
        color: #000000;
        font-size: 24px;
        font-weight: 900;
        text-align: left;
        background: #fafbfc;
        padding: 30px 70px;
        box-shadow: 6px 10px 35px rgba(0, 0, 0, 0.08);
        border: 1px solid #d7d7d7; }
      .vs_content_block_result {
        font-family: 'Lato', sans-serif;
        color: #000000;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        background: #fff;
        padding: 30px 70px;
        box-shadow: 6px 10px 35px rgba(0, 0, 0, 0.08);
        border: 1px solid #d7d7d7; }
        .vs_content_block_result span {
          font-weight: 700; }

.we-helps {
  padding-top: 100px; }
  .we-helps_caption {
    font-family: 'Lato', sans-serif;
    width: 40%;
    color: #333333;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
    border-left: 8px solid #01afa5;
    padding-left: 20px;
    text-transform: uppercase; }
  .we-helps_items {
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: space-between; }
  .we-helps_item {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% / 12 * 2 - 30px);
    padding: 5px; }
    .we-helps_item_img {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      border: 10px solid #01afa5;
      width: 70px;
      height: 70px;
      padding: 10px; }
    .we-helps_item_info {
      margin-top: 20px;
      font-family: 'Lato', sans-serif;
      color: #333333;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      text-align: center; }
  .we-helps_info {
    font-family: 'Lato', sans-serif;
    color: #333333;
    font-size: 27px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    padding: 50px 12%; }
